
  <div class="nav-container">
    <ul class="nav nav-tabs">
      <li class="presentation active">
        <a class="nav-link" href="#">Agents <span class="sr-only">(current)</span></a>
      </li>
      <li class="presentation">
        <%= link_to "Transactions", transactions_path, class: 'nav-link' %>
      </li>
      <li class="sign-out pull-right">
        <%= link_to '<span class="glyphicon glyphicon-log-out"></span>&nbsp;Sign out'.html_safe, destroy_user_session_path, :method => :delete, class: 'nav-link' %>
      </li>
    </ul>
  </div>



<div>
  <div>
    <div class="panel">

      <div class="panel-body">
        <div class="">
          <table id="agentTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr class="filters">
              <th>

                <div class="form-group">
                  <div class="input-group input-group-md">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                    <div class="icon-addon addon-md">
                      <input type="text" placeholder="Agents" class="form-control">
                    </div>
                  </div>
                </div>

              </th>
              <th>

                <div class="form-group">
                  <div class="input-group input-group-md">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                    <div class="icon-addon addon-md">
                      <input type="text" placeholder="Branches" class="form-control">
                    </div>
                  </div>
                </div>

              </th>
              <th>

                <div class="form-group">
                  <div class="input-group input-group-md">
                  </div>
                </div>

              </th>
            </tr>
            <tr>
              <th>Account</th>
              <th>Branch</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>









  <div class="modal fade" id="createModal" tabindex="-1" role="dialog"
       aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <%= form_for(@agent_item) do |f| %>
        <!-- Modal Header -->
        <div class="modal-header">
          <button type="button" class="close"
                  data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">
            Create a new Agent
          </h4>
        </div>


        <!-- Modal Body -->
        <div class="modal-body">

          <div class="form-horizontal" role="form">


                <div class="form-group">
                  <%= f.label :account, class:  'col-sm-2 control-label' %>
                    <div class="col-sm-10">
                      <%= f.text_field :account, class: 'form-control' %>
                    </div>
                </div>
                <div class="form-group">
                  <%= f.label :branch, class:  'col-sm-2 control-label' %>
                  <div class="col-sm-10">
                    <%= f.text_field :branch, class: 'form-control' %>
                  </div>
                </div>

          </div>

        </div>

        <!-- Modal Footer -->
        <div class="modal-footer">

          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit :class => "btn btn-primary" %>

        </div>


      </div>
        <% end %>
    </div>
  </div>




  <script>
    $(document).ready(function () {
      $('.filters input, .filters select', this).on('keyup', (function (_this) {
        return function (e) {
          var th;
          th = $(e.target).closest("th");
          return $.agentsDataTableApi.column(th.index()).search($(e.target).val()).draw();
        };
      })(this));
    });
  </script>





























