<nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="home-btn" href="/"><i class="fa fa-home" aria-hidden="true"></i></a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Agents", agents_path, class: 'nav-link' %>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Transactions <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<section class="inner-padding">
  <input type="text" class="app-search" id="light-table-filter-trans" placeholder="Search.." data-table="order-table">
  <table class="app-table order-table table fixed_headers scroll">
    <thead>
    <tr class="header">
      <td class="bold">#</td>
      <td class="bold">Agent</td>
      <td class="bold">Customer</td>
      <td class="bold">Amount</td>
      <td class="bold">Status</td>
      <td class="bold">Created</td>
      <td class="bold">Updated</td>
      <td class="bold">Actions</td>
    </tr>
    </thead>
    <tbody>
    <% @transactions.each_with_index do |transaction, index| %>
        <tr data-amount="<%= transaction.amount %>">
          <td scope="row" class="bold"><%= index %></td>
          <td><%= transaction.agent %></td>
          <td><%= transaction.customer %></td>
          <td><%= transaction.amount %></td>
          <td><%= transaction.status %></td>
          <td><%= transaction.created_at %></td>
          <td><%= transaction.updated_at %></td>
          <td>
            <%= link_to '<div class="delete-btn"><i class="fa fa-times red-text"></i>&nbsp;Delete</div>'.html_safe, transaction, method: :delete, data: {confirm: 'Are you sure?'} %>
          </td>
          <td></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <table class="app-table">
    <thead>
    <tr class="header">
      <td class="bold">Summary</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="bold">Currently listing count</td>
      <td>:</td>
      <td id="listingCount"><%= @transactions_count %></td>
    </tr>
    <tr>
      <td class="bold">Total amount in current listing</td>
      <td>:</td>
      <td id="listingAmountCount"><%= @transactions_amount %></td>
    </tr>
    </tbody>
  </table>
</section>

<style>
  .scroll td:nth-child(1) {
    flex: 0.5;
  }

  .scroll td:nth-child(2) {
    flex: 2;
  }

  .scroll td:nth-child(3) {
    flex: 2;
  }

  .scroll td:nth-child(4) {
    flex: 1;
  }

  .scroll td:nth-child(5) {
    flex: 1;
  }

  .scroll td:nth-child(6) {
    flex: 3;
  }

  .scroll td:nth-child(7) {
    flex: 3;
  }

  .scroll td:nth-child(8) {
    flex: 2;
  }

  .scroll td:nth-child(9) {
    flex: 0.2;
    padding: 0;
  }

    .app-search{
      width: 100% !important;
    }
</style>


<script>
  (function (document) {
    'use strict';

    var LightTableFilter = (function (Arr) {

      var _input;
      var totalCount;
      var listingCount;
      var listingAmountCount;

      function _onInputEvent(e) {
        _input = e.target;
        var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
        Arr.forEach.call(tables, function (table) {
          Arr.forEach.call(table.tBodies, function (tbody) {
            Arr.forEach.call(tbody.rows, _filter);
          });
        });

        listingCount = 0;
        listingAmountCount = 0;
        Arr.forEach.call(tables, function (table) {
          Arr.forEach.call(table.tBodies, function (tbody) {
            Arr.forEach.call(tbody.rows, _count);
          });
        });
        document.getElementById("listingCount").innerText = listingCount;
        document.getElementById("listingAmountCount").innerText = listingAmountCount;
      }

      function _count(row){
        if(row.style.display == ''){
          listingCount++;
          listingAmountCount += parseFloat(row.getAttribute('data-amount'));
        }
      }

      function _filter(row) {
        var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
        row.style.display = text.indexOf(val) === -1 ? 'none'  : '';
      }

      return {
        init: function () {
          totalCount = parseInt(document.getElementById("listingCount").innerText);
          var input = document.getElementById('light-table-filter-trans');
          if(input)
          input.oninput = _onInputEvent;
        }
      };
    })(Array.prototype);


    LightTableFilter.init();

  })(document);
</script>


















































